@import 'searchView';
@import 'searchBar';
@import 'footer';
@import 'recipes';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/cocktails.jpg');
}

footer ul li a svg {
    margin-top: calc(100% / 2 - 0.5em);
}

footer {
    margin-top: auto;
}


