@import 'searchView';
@import 'searchBar';
@import 'footer';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
// @import '~@fortawesome/fontawesome-free/css/all.css;

// $theme-font:    verdana, sans-serif;

// body {
//   font: $theme-font;
//   background-color: $themeColor-Light;
//   h1, h2 {
//       color: $themeColor-Dark
//   }
// }


// html {
//     height: 100%;
// }
body {
    min-height: 100vh;
    // min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}