.salad {
    height: 400px; 
    width: 100%; 
    // background-image: url("../images/splashpage_footer.jpeg")
    background-image: url('../images/splashpage_footer.jpeg');
    background-size: cover; 
    // background-image: url(`${require('../images/splashpage_footer.jpeg')}`)
    // background: url('src/images/splashpage_footer.jpeg');
    // background: url(~src/images/splashpage_footer.jpeg);
}

// .footer {
//     margin-top: auto; 
// }