// $themeColor-Light: #f3e2c7;
// $themeColor-Dark:#b68d4c;

// .intructions {
//     color: coral; 
// }

// Container 

.container {
    display: grid;
    // grid-template-columns: repeat(auto-fill, min-max(225px, 1fr));
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 1.5fr 0fr 1.5fr 0fr;
    grid-template-areas: 
        "wrapper wrapper wrapper wrapper wrapper"
        "search_results_header search_results_header search_results_header search_results_header search_results_header"
        "results results results results results"
        "favorites_header favorites_header favorites_header favorites_header favorites_header"
        "favorites favorites favorites favorites favorites"
        "footer footer footer footer footer";
}

// favorite recipes header 

.favorites-header {
    color: darkgreen; 
    text-align: center;
    grid-area: favorites_header;
}

.favorites-header > span {
    background: #fff;
}


// Search results header

.search_results_header {
    text-align: center;
    color: #bd9b16;
    grid-area: search_results_header;
}

.search_results_header > span {
    background: #fff;
}

// Card Layout

.results {
    margin-top: 0; 
    // max-width: 100%;
    font-family: sans-serif;
    grid-area: results; 
    display: flex;
    flex-direction: column;
}

.results_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 300px; 
    height: 500px;
    overflow: scroll;
    margin: 5px; 
}

.recipe_image {
    transition: 1s;
    box-shadow: 4px 4px 5px #888888;
    // width: 100%;
    // display: block; 
}

.card_content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}

.card_content > h4:first-of-type {
    margin-top: 0;
}

.card_content > p:last-of-type {
    margin-bottom: 0;
}

.card_info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    font-size: 0.8em;
    border-bottom: 2px solid #ccc;
}

.results_link {
    color: #64968c;
    text-decoration: none;
}

.results_link:hover {
    text-decoration: underline;
}

// Responsive design

@media only screen and (max-width: 2043px) {
    .container {
        grid-template-columns: 1.5fr 0.5fr;
        grid-template-rows: 1fr 1 fr 1fr 1fr 1fr;
        grid-template-areas:
         "wrapper wrapper"
         "search_results_header search_results_header"
         "results results"
         "favorites_header favorites_header"
         "favorites favorites"
         "footer footer"
        ;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 1fr 0fr 0fr 0fr;
        grid-template-areas: 
        "wrapper"
        "search_results_header"
        "results"
        "favorites_header"
        "favorites"
        "footer";
    }
}

// Rest of layout 

.btn-inline {
    background: linear-gradient(to right, #46A046, #6acc00); 
    color: #fff; 
    height: 30px; 
    width: 100px; 
    border-radius: 5px;
    font-size: medium; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-inline::before {
    content: "";
    height: 160%;
    width: 40px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    bottom: -20px; 
    transform: translateX(-80px);
    transition: all .5s;
}

.btn-inline:hover::before {
    transform: translateX(230px) rotate(20deg);
    transition: 0.5s;
}

.recipe_image:hover {
    transform: scale(1.05);
}


// Search bar


.wrapper {
    background: #444A5A;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    grid-area: wrapper; 
}

.nav-bar {
    display: flex;
    background: #444A5A;
    height: 50px; 
}

.nav-bar > form {
    display: flex;
    // justify-content: end; 
    // flex: 1;
}

.nav-bar > input {
    flex: 1; 
}

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//     .wrapper {
//         width: 100%;
//     }

//     .nav-bar {
//         flex-direction: column;
//     }
// }

// @media only screen and (max-width: 767px) {
//     .wrapper {
//         width: 100%;
//     }

//     .nav-bar {
//         flex-direction: column;
//     }
// }

// .nav-bar {
//     height: 50px; 
// }

.search_field {
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid lightgray; 
    border-radius: 5px;
    height: 25px; 
    font-size: medium;
}

.search_field:hover {
    border: 1px solid #6ACC00; 
}

.search_btn {
    margin-top: 10px; 
    background: linear-gradient(to right, #46A046, #6ACC00); 
    height: 30px; 
    color: #fff;  
    font-size: medium;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.search_btn:before {
    content: "";
    height: 160%;
    width: 40px;
    background: rgba(255,255,255, .3);
    position: absolute;
    top: 0px;
    transform: translateX(-80px);
}

.search_btn:hover::before {
    transform: translateX(230px) rotate(20deg);
    transition: 0.5s;
}

.search_btn:hover {
    cursor: pointer;
}

//Footer

.footer {
    background: #6acc00;
    height: 400px; 
    width: 100%; 
    background-image: url('../assets/splashpage_footer_web_optimized.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    grid-area: footer; 
}

.footer ul {
    position: absolute;
    margin-left: 250px;
    transform: translate(-50%, -50%);
    display: flex;
}

.footer ul li {
    margin: 0 15px; 
}

.footer ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000; 
}

.footer ul li .fa:hover {
    color: #fff;
}

.footer ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0, .5);
}

.footer ul li a:hover {
    transform: translate(0, -10px);
}

.footer ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.footer ul li:nth-child(4) a:hover {
    background-color: #0077b5;
}

.fav-heart {
    color: #00000030; 
    font-size: 2em;
}

.fav-heart:hover {
    color: #f44336;
}

// .heart i.fa-heart {
//     color: #f44336;
// }

.heart {
    color: #f44336;
}

.heart {
    animation: heart 0.5s linear;
}

@keyframes heart {
    0% {
        transform: rotate(0deg) scale(1.7);
    }
    40% {
        transform: rotate(0deg) scale(1);
    }
    41% {
        transform: rotate(360deg) scale(1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
